<app-navbar (onToggleSideNav)="onToggleSideNav($event)"></app-navbar>

<div class="home" [ngClass]="isSideNavCollapsed ? 'closed': ''">
    
    <div class="m-4 p-4 d-flex justify-content-center align-items-center" style=" background-color: whitesmoke; min-height: 93vh;" >

    <!-- <div class="card-group">
        <div class="card ml-4 mt-4 mb-4" >
          <img src="../../../assets/images/navbar/Imagen1.png" style="height: 200px; " >
          <div class="card-body">
            <h5 class="card-title">Orden #1 </h5>
            <p class="card-text">Atendido por:</p>
           

            <button type="button" class="btn btn-primary btn-lg btn-block " data-toggle="modal" data-target="#exampleModalCenter">Ver</button>
          </div>
        </div>
    </div> -->

      <div class="card-group" *ngIf="servicios.length != 0">

        <ng-container *ngFor="let servicio of servicios">
          <div class="card">
            <img src="../../../assets/images/navbar/Imagen1.png" class="card-img-top" alt="..." height="200px">
            <div class="card-body">
              <h5 class="card-title">Orden # {{servicio.id}}</h5>
              <p class="card-text">Atendido por: {{servicio.mecanico.nombres}} {{servicio.mecanico.apellidos}}</p>
              <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" [attr.data-bs-target]="'#servicios-'+servicio.id">Ver</button>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade " id="servicios-{{servicio.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Servicio No{{servicio.id}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="justify-content-center align-items-center" *ngIf="servicios.length == 0">
        <h3 class="text-center m-2">Tus servicios se mostraran aquí</h3> 
        <img src="../../../assets/images/pixlr-bg-result.png" width="500px"> 
      </div>
     
      

    </div>
    
    
</div>